
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art Mixer: An artistic transformation</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&family=Permanent+Marker&family=Nothing+You+Could+Do&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">  <!-- CSS stylesheet -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d39952044b.js" crossorigin="anonymous"></script>

  </head>
  <body>

  </body>
</html>
